<%= include header %>
<h1>COMMENT ON ME PLS!</h1>
<form action='/watchList/<%= commentID %>/comments' method='post'>
	<input type='text' class='form-control' placeholder='Your Comment'>
	<input type='submit' class='btn btn-info' value='gimme that comment'>
</form>

</body>
</html>