<%= include header %>

<h1 align='center'>GIMME THAT MOVIE!</h1>
<!-- </div> -->
<form action='/search' method='get' align='center' class='form-inline'>
  <input type='text' name='title' class='form-control' placeholder='Please type a title'>
  <input type='submit' class='btn btn-info' value='search for movie' display='inline'>
</body>
</html>