<%= include header %>

<h1 align='center'>GIMME THAT MOVIE!</h1>
<div class='allText' align='center'>
<p>This is a website that does stuff surrounding movies. Please use it.</p>
<p>Click the pug to start finding and saving movies!</p>
<a href="/engine"><img src="/olive.jpg"></a>
</div>

<br />
<br />


<!-- </div> -->
</body>
</html>