<!DOCTYPE html>
<html>
<head>
	<title>Movie App</title>
</head>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/style.css">
<body>
<div class='jumbotron'>
<h1 align='center'>MOVIES HOMEPAGE!</h1>
</div>
<form action='/search' method='get' align='center' class='form-inline'>
	<input type='text' name='title' class='form-control' placeholder='please type a title'>
	<input type="submit" class='btn' value='search for movie' display='inline'>
</body>
</html>